@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;500;600;900&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body{
    font-family: 'Saira Condensed';
    font-weight: 300;
}


/* NAVBAR */
nav{
    background: #000000;
    height: 10%;
    min-height: 60px;
    max-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}




.hamburger{
    display: block;
    margin: 0;
    margin-right: 10%;
    cursor: pointer;
}

.checkbtn{
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

#check{
    display: none;
}

nav ul{
    flex-direction: row;
    margin: 0;
    margin-right: 10%;
    display: none;
}

nav ul li{
    margin: 0 10px;
    line-height: 60px;
    text-transform: uppercase;
}

nav ul li a{
    color: rgb(243, 239, 239);
    border-radius: 10px;
    padding: 3px;
}

a.active{
    color: rgb(207, 207, 207);
}

a:hover{
    color: white;
    background: #9c5623;
    transition: .5s;
}

a.active:hover{
    background: none;
    cursor: default;
    color: rgb(243, 239, 239);
}   


/* SHOWCASE / HERO SECTION / Footer */

.showcase{
    width: 100%;
    height: 500px;
    background-image: url("img/gymbg.png");
    background-repeat: none;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Saira Condensed';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.showcase_heading{
    font-size: 2rem;
    margin: 1rem;
}

.showcase_subheading{
    font-size: 1.5rem;
    margin: 1rem;
}

.showcase_cta{
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 50px;
    border:none;
    margin: 1rem;
}

span.showcase_cta{
    font-family: Montserrat;
    background-color: white;
    color: black;
    border-radius: 50px;
    cursor: pointer;
}

.footer {
    background: rgba(119, 119, 119, 0.88);
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
  }
.footer h1{
    color: black;
}

/* CONTENT */
.container{
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.greeting{
    font-size: 3rem;
    margin: 1rem 0;
    font-family: "Saira Condensed";
    color: #5A3907;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.content_item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem 0 2rem;
}

.content_item img{
    width: 75%;
    border-radius: 15px;
    max-width: 400px;
}

.info .heading{
    font-family: 'Saira Condensed';
    margin: 12px;
}



@media (min-width: 600px) { 
    .footer h1 {
        text-align: left;
        font-size: 20px;
      }
    
    .footer {
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
      }
    
    .logo img{
        line-height: 60px;
        font-weight: 800;
        width: 100px;
        height: auto;
        padding: 0% 0% 0% 50%
    }

    nav ul{
        display: flex;
    }
    .hamburger{
        display: none;
    }

    .showcase{
        background-image: url("img/gymbg.png");
    }

    .showcase_heading{
        font-size: 4rem;
        padding-top: 200px;
        padding-bottom: 10px;
    }

    .showcase_subheading{
        font-size: 2rem;
    }

    .showcase_cta{
        font-size: 1.2rem;
        padding: 15px 30px;
    }

    h1.greeting{
        font-size: 4rem;
    }

    .info .heading{
        font-size: 2rem;
    }

    .info p{
        font-size: 1.5rem;
    }
}


@media (min-width: 1000px) {
    .logo img{
        line-height: 60px;
        font-weight: 800;
        width: 190px;
        height: auto;
        padding: 0% 0% 0% 90%
    }

    .showcase{
        background-image: url("img/gymbg.png");
    }

    .showcase_heading{
        font-size: 3.5rem;
    }

    .showcase_subheading{
        font-size: 3rem;
    }

    .showcase_cta{
        font-size: 1.2rem;
        padding: 20px 40px;
    }

    h1.greeting{
        font-size: 6rem;
    }

    .content_item{
        flex-direction: row;
        justify-content: space-between;
    }

    .content_item:nth-child(even) img{
        order: 2;
    }

    .info{
        width: 50%;
    }
    .footer h1 {
        font-size: 40px !important;
      }
      
  
      .btn {
        font-size: 40px;
        width: 300px !important;
    }

}

@media (min-width: 300px) {
    .logo img{
        line-height: 60px;
        font-weight: 800;
        width: 70px;
        height: auto;
        padding: 0% 5% 0% 30%
    }
    .footer h1 {
        text-align: center;
        font-size: 15px;
    }
    .btn{
        background-color: #090909; 
        font-family: 'Saira Condensed', sans-serif;
        font-weight: 600;
        color: white;
        padding: 1px; 
        width: 147px;
        border-radius: 1px;
        
      }
      
      .btn:hover{
        background-color: #408EC5;
      }

      .Icons {
        display: flex;
        justify-content: center;
      }

      .icon {
        width: 40px;
        height: 40px;
        margin: 0 10px;
      }
     
      .footer2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .footer2 h1 {
        margin-right: 10px;
      }
}
